*{
    margin: 0;
    padding:0;
}


.avsnitt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2rem;
}

p {
    padding: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.3rem;
    text-align: justify;
    

}

img {
    width: 40vw;
    margin: 2rem 2rem;

}
header{
    background-color: #add8e6;
    height: 120px;
    background-size: cover;
    background-position: center;
}