*{
    margin: 0;
    padding:0;
}
header{
    background-color: #add8e6;
    min-height: 10vh;
    width: 100%;
    border-bottom: black solid 1px;
    position: sticky;
    top: 0;
}
main {background-image: linear-gradient(to bottom, #add8e6, #fff);
    }


a {
    text-decoration: none;
    color: black;

}
img {
    overflow: hidden;
}
span {
    margin: 1rem;
}
.logo {
 width: 80px;  
 margin-top: 10px; 
 padding-left: 10px;
 padding-right: 0;
 display: inline;
}
.pil img{
    max-width: 5vw;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
.pil{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    padding-top: 10px;

}

.sosialemedier img{
    width: 5vh;
    min-width: 30px;
    padding-left: 0;
    padding-right:0 ;
    text-align: center;
}

.sosialemedier{
    border:transparent;
    padding-left: 0;
    padding-right:0 ;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}



span {
    display: flex;
    flex-direction: column;
}
span p {
    padding: 0;
    padding-left: 1rem;
    padding-right:1rem ;
    color: black;
    text-decoration: none;

}
.navpil{
    display: flex;
    flex-direction: row;
    


}

 .kilder {
    border-top:solid grey 1px ;
}
.kilder p {
    padding: 0.5rem;
    font-size: 15px ;
    
}
p {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.3rem;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    
}
.stortbilde {
    width: 80vw;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
}

.smartcity img {
    max-width: 45%;
    margin-left: 1rem;
    padding-left: 0.0rem;
    padding-right: 0
    ;
}
.smartcity {
    display: flex;
    flex-direction: row;
}
li{
    list-style-type: none;
}
h1{
    text-align: center;
    padding-top: 2rem;
}
h2{

    text-align: center;
}

#tekstmidten {
    padding-top: 0;
    padding-bottom: 0;
}



.velkommen p{
    padding: 1rem;
}
#auditorium{
    max-width: 100%;
    padding-top: 1rem;

}








.link{
    text-decoration: #11040a underline 1px;

}


@media only screen and (max-width: 750px){

    button{
        border: 1px solid #fff;
        
        text-decoration: none;
        background-color: transparent;
        border: transparent;
        
    }
    #menybilde {
        max-width: 40px;
        margin: 0;
        padding-top: 15px;
        display: inline;
        padding-right: 10px;
    
        background-color:rgb(173, 216, 230,0.5)  ;
        
        
    }
    .dropdowncontent {
        display: none;
        position: fixed;
        right: 0%;
        top: 0%;
        
        height: 100vh;
        background-color:white ;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        justify-content: right;
    
        
      }
      li {
          padding: 1rem;
          border-bottom: 1px solid grey;
          padding-left: 1rem;
         padding-right: 2rem;
        
      }
      
      
    .dropdown {
        display: inline;
        
    }
      
    
    .dropdowncontent a {
            padding: 12px 16px;
            display: table-row;
          }
    
    .dropdown:hover .dropdowncontent {display: block;}
    main:hover .dropdowncontent {display: none;}
    .navigasjon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .active a{
        color: black;
        text-decoration: #add8e6 underline 2px;
    }
   .nav a:hover {
       text-decoration: #add8e6 underline 2px;
       
   }

    
    .pilfooter, .smfooter {
        display: none;
    }
    
   
}

@media only screen and (min-width: 750px){
 
.dropdownbtn, .navpil, #menybilde, button, .smnav{
    display: none;
    max-height: 10vh;
}
header {
    height: 10vh;
    min-height: 73px;
}
p{
    text-align: justify;
}

.nav{
    display: inline;
    display: flex;
    flex-direction: row;
    
    position:absolute;
    top: 40%;
    right: 1%;
    
}

.nav > li {
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.nav a {
    color: black;
    border: black solid 1px;
    padding: 0.5rem;
}

.nav a:hover  {

    border: white solid 1px;
    
}
.active a{
    color: black;
    border: white solid 1px;
    
}

.navigasjon {
    max-height: 20vh;
}

footer {    
    border-top: solid black 1px;
}
footer p {
    text-align: center;
}

.smfooter {
    
    display: flex;
    flex-direction: row;
    
    padding-top: 1rem ;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    
}

.smikonfooter{
    display: flex;
    flex-direction: row;

}
.sosialemedier {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}
.pilfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boks{
    margin-left: auto ;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 80vw;
    background-color: white;
    box-shadow: #333 2px 2px 15px;
}
main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    background-image: linear-gradient(to bottom, #add8e6, #fff)}
    

#auditorium{
    max-width: 90%;
    margin-left: 5%;
}
.stortbilde{
    max-width: 90%;
    padding: 0;
    margin-left: 5%;
}
.smartcity img {
    max-width: 44%;
    margin-left: 1rem;
    padding-left: 0.8rem;
}
.boks p{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.pil span {
    padding-bottom: 2rem;
}
}

@media only screen and (min-width: 1000px){


.hoved {
    display: flex;
    flex-direction: row;
}
header {
    height: 100vh;
    width: 20vw;
    display: initial;
    border: transparent;

    position: sticky;
    top: 0;

}
footer {
    background-color: #add8e6;
}
.navigasjon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.boks{
    border: transparent;
    box-shadow: transparent 0 0 0 ;
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
    padding: 0px;
}
.nav {
    display: flex;
    flex-direction: column;
    position: initial;
    

}
.nav li{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: black solid 1px;
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
}
.homeknapp, #homeknapp{
    border-top: black solid 1px;
    width: 100%;
}
.nav a {
    padding: 0rem;
    border: transparent;
    padding-left: 1rem;
}
 .logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 7vw;
    padding-bottom: 1rem;
}
.homeknapp{
    padding-left: 100rem;
    padding-right: 40px;
}
.nav a:hover {
    border: transparent;
    text-decoration: underline solid 2px;
    
    

}
.active {
    text-decoration: underline solid  2px;
    text-decoration-color:white ;
}
.kilder{
    padding: 1rem 0;
}
.kilder p {
font-size: 18px;
}


.pilfooter, footer, .boks, .velkommen, .kilder{
    background-image: linear-gradient(to right, #add8e6, #fff);
} 






h2 {
    margin-left: 2rem;
    padding-left: 1rem;

}

p{
    line-height: 1.5;
    font-size: 20px;
}

#smartcity {

    padding-left: 1rem;
    
}
.smartcity img {
    max-width: 43%;
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 0;
}
.pil img {
    width: 40px;
}


}
