*{
    margin: 0;
    padding:0;
}
header{
    background-color: #add8e6;
    min-height: 10vh;
    width: 100%;
    border-bottom: black solid 1px;
}
main {background-image: linear-gradient(to bottom, #add8e6, #fff);}


a {
    text-decoration: none;
    color: black;

}
img {
    overflow: hidden;
}

.logo {
 width: 60px;  
 margin-top: 10px; 
 padding-left: 10px;
 padding-right: 0;
 display: inline;
}
.pil img{
    max-width: 5vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
.pil{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    padding-top: 10px;

}
/* Sosialemedier bilde størrelse*/
.sosialemedier img{
    width: 5vh;
    padding-left: 0;
    padding-right:0 ;
    text-align: center;
}
/* For å få bildene uten padding og plassert i midten av plassen */
.sosialemedier{
    border:transparent;
    padding-left: 0;
    padding-right:0 ;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
/*
a .pil {
    vertical-align: center;
    text-decoration: none;
}
*/

span {
    display: flex;
    flex-direction: column;
}
span p {
    padding: 0;
    padding-left: 1rem;
    padding-right:1rem ;
    color: black;
    text-decoration: none;

}
.navpil{
    display: flex;
    flex-direction: row;
    


}

/* -----KNAPP------- */

/*
 ------  KNAPP FERDIG ---------*/

p {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.3rem;
    text-align: justify;
    
}
.stortbilde {
    width: 80vw;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
}
li{
    list-style-type: none;
}
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 2rem;
}
/* for å ikke få så stort mellomrom mellom avsnittene */
#tekstmidten {
    padding-top: 0;
    padding-bottom: 0;
}

/*----Første side ferdig --------*/
/*---- Velkommen side starter --------*/

.velkommen p{
    padding: 1rem;
}
#auditorium{
    max-width: 100%;
    padding-top: 1rem;

}

/*---- Oppgave side starter --------*/
h2 {
    padding-left: 2rem;
}

.kilder {
    border-top:solid grey 1px ;
    font-size: 80%;
}
.kilder p {
    padding: 0.5rem;
    
}

/*
SKAL VI HA FOOTER??
footer {
    background-color: #add8e6;
    height: 5vh;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}
*/
@media only screen and (max-width: 750px){
    /* ------- KNAPP ------ */
    button{
        border: 1px solid #fff;
        
        text-decoration: none;
        background-color: transparent;
        border: transparent;
        
    }
    #menybilde {
        max-width: 40px;
        margin: 0;
        padding-top: 15px;
        display: inline;
        /*
        position:fixed;
        top: 5%;
        right: 5%;
        
        transform: translate(-40%, -60%);
        */
        background-color:rgb(173, 216, 230,0.5)  ;
        
        
    }
    .dropdowncontent {
        display: none;
        position: fixed;
        right: 0%;
        top: 0%;
        
        height: 100vh;
        background-color:white ;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        justify-content: right;
    
        
      }
      li {
          padding: 1rem;
          border-bottom: 1px solid grey;
          padding-left: 1rem;
         padding-right: 2rem;
        
      }
      
      
    .dropdown {
        /*
        position: relative;
        width: 10vw;
        margin-left: 40vw;
        */
        display: inline;
        
    }
      
    
    .dropdowncontent a {
            padding: 12px 16px;
            display: table-row;
          }
    
    .dropdown:hover .dropdowncontent {display: block;} and main {filter: blur(8px);}
    .navigasjon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .active a{
        color: black;
        text-decoration: #add8e6 underline 2px;
    }
   .nav a:hover {
       text-decoration: #add8e6 underline 2px;
   }

    /* For å fjerne piler nede på de små */
    .pilfooter, .smfooter {
        display: none;
    }
    
    
   
}

@media only screen and (min-width: 750px){
    /* For å gjemme bort meny knappen og alt i den */
.dropdownbtn, .navpil, #menybilde, button, .smnav{
    display: none;
    max-height: 10vh;
}
header {
    height: 10vh;
}
/* Få navigasjons boksene på riktig plassering*/
.nav{
    display: inline;
    display: flex;
    flex-direction: row;
    
    position:absolute;
    top: 4%;
    right: 1%;
    
}
/* Mellomrom mellom nav boksene*/
.nav > li {
    padding-left: 1rem;
    padding-right: 1rem;
    
}
/* Farge på teksten og boks rundt*/
.nav a {
    color: black;
    border: black solid 1px;
    padding: 0.5rem;
}
/* Når du hoover over boksene*/
.nav a:hover  {

    border: white solid 1px;
    
}
.active a{
    color: black;
    border: white solid 1px;
    
}

.navigasjon {
    max-height: 10vh;
}

footer {    
    border-top: solid black 1px;
}
footer p {
    text-align: center;
}

.smfooter {
    
    display: flex;
    flex-direction: row;
    
    padding-top: 1rem ;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    
}
/* klasse i sosialemedier ul footer, for å få ikonene vedsiden av hverandre*/
.smikonfooter{
    display: flex;
    flex-direction: row;

}
.sosialemedier {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}
.pilfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boks{
    margin-left: auto ;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 80vw;
    background-color: white;
    box-shadow: #333 2px 2px 15px;
}
main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(to bottom, #add8e6, #fff)}

#auditorium{
    max-width: 90%;
    margin-left: 5%;
}
.stortbilde{
    max-width: 90%;
    padding: 0;
    margin-left: 5%;
}
.boks p{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.pil span {
    padding-bottom: 2rem;
}
}

@media only screen and (min-width: 1000px){
 /* main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}*/

.hoved {
    display: flex;
    flex-direction: row;
}
header {
    height: 100vh;
    width: 20vw;
    display: initial;
    border: transparent;
    position: sticky;
    top: 0;
}
footer {
    background-color: #add8e6;
}
.navigasjon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.boks{
    border: transparent;
    box-shadow: transparent 0 0 0 ;
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
    padding: 0px;
}
.nav {
    display: flex;
    flex-direction: column;
    position: initial;
    

}
.nav li{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: black solid 1px;
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
}
.homeknapp, #homeknapp{
    border-top: black solid 1px;
    width: 100%;
}
.nav a {
    padding: 0.0rem;
    border: transparent;
    padding-left: 1rem;
    
}
 .logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 7vw;
    padding-bottom: 1rem;
}
.homeknapp{
    padding-left: 100rem;
    padding-right: 40px;
}
.nav a:hover {
    border: transparent;
    text-decoration: underline solid 2px;
    

}
.active {
    text-decoration: underline solid  2px;
    text-decoration-color:white ;
}

.kilder {
    padding-left: 10rem;
}

.pilfooter{
    background-color: white;
}
.hoved{
    background-color: white;
}
main{
    background-color: white;
}

#smartcity {

    padding-left: 0.8rem;
    
}
.smartcity img {
    max-width: 44%;
    margin-left: 1rem;
    padding-left: 2rem;
}
.smartcity {
    display: flex;
    flex-direction: row;
}
h2 {
    margin-left: 2rem;
    padding-left: 1rem;

}






}
